<section class="section section-padded">
  <div class="container-fluid">
    <div class="section-header">
      <h1>
        Vamos
        <small class="light">Trabalhar</small>
      </h1>
    </div>
    <p class="lead text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Cras lobortis congue tempus. Mauris non justo nec arcu suscipit lacinia aliquet sed purus.
    </p>
    <div class="text-center">
      <div class="btn btn-large btn-primary" onclick='window.location.href = "/contact";'>
        Quero conversar &nbsp;
        <i class="icon-lightbulb"></i>
      </div>
    </div>
  </div>
</section>