<section class="section section-padded" id='lets_work'>
  <div class="container-fluid">
    <div class="section-header">
      <h1>
        <%= t('title.lets_go') %>
        <small class="light"><%= t('title.work?') %></small>
      </h1>
    </div>

    <p class="lead text-center">
      <%= t('text.work_together') %> 
    </p>

    <div class="text-center">
      <div class="btn btn-large btn-primary" onclick='window.location.href = "/contact";'>
        <%= t('text.want_to_talk') %> &nbsp;
        <i class="icon-lightbulb"></i>
      </div>
    </div>
  </div>
</section>
