<section class="section section-padded" id='lets_work'>
  <div class="container-fluid">
    <div class="section-header">
      <h1>
        Vamos
        <small class="light">Trabalhar?</small>
      </h1>
    </div>
    <p class="lead text-center">
      Conte-nos sobre o seu projeto e vamos construí-lo juntos. Estamos sempre prontos para escutar e desenvolver suas ideias em conjunto. E então, vamos trabalhar juntos?
    </p>
    <div class="text-center">
      <div class="btn btn-large btn-primary" onclick='window.location.href = "/contact";'>
        Quero conversar &nbsp;
        <i class="icon-lightbulb"></i>
      </div>
    </div>
  </div>
</section>