<!-- Promo Section -->
<section class="section section-alt" style='height: 425px;'>
  <div class="row-fluid">
    <div class="flexslider" data-flex-animation="slide" data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-directions="hide" data-flex-speed="7000" id="intro">
      <ul class="slides">
        <li>
          <div class="super-hero-unit">
            <figure>
              <%= image_tag("assets/landscapes/landscape-2-1250x420.jpg", alt: "some image") %>
              <figcaption class="flex-caption">
                <h1 class="super">
                  Sistemas Web
                </h1>
              </figcaption>
            </figure>
          </div>
        </li>
        <li>
          <div class="super-hero-unit">
            <figure>
              <%= image_tag("assets/landscapes/landscape-3-1250x420.jpg", alt: "some image") %>
              <figcaption class="flex-caption">
                <h1 class="super">
                  Cocriação
                </h1>
              </figcaption>
            </figure>
          </div>
        </li>
        <li>
          <div class="super-hero-unit">
            <figure>
              <%= image_tag("assets/landscapes/landscape-1-1250x420.jpg", alt: "some image") %>
              <figcaption class="flex-caption">
                <h1 class="super">
                  Consultoria
                </h1>
              </figcaption>
            </figure>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
