<!-- Our Services -->
<section class="section section-padded" id='services'>
  <div class="container-fluid">
    <div class="section-header">
      <h1>
        Nossas
        <small class="light">especialidades</small>
      </h1>
    </div>
    <ul class="unstyled row-fluid">
      <li class="span4">
        <div class="round-box box-big">
          <span class="box-inner">
            <%= image_tag("assets/landscapes/landscape-1-300x300.jpg", alt: "some image", class: "img-circle") %>
            <i class="icon-cloud"></i>
          </span>
        </div>
        <h2 class="text-center">Sistemas Web</h2>
        <p class="lead text-center">
          Adoramos construir aplicações Web, desde as mais simples às mais complexas.
        </p>
      </li>
      <li class="span4">
        <div class="round-box box-big">
          <span class="box-inner">
            <%= image_tag("assets/landscapes/landscape-2-e-300x300.jpg", alt: "some image", class: "img-circle") %>
            <i class="icon-magic"></i>
          </span>
        </div>
        <h2 class="text-center">Concepção de ideias</h2>
        <p class="lead text-center">
          Como em um passe de mágica podemos desenvolver um MVP para que você teste sua brilhante ideia.
        </p>
      </li>
      <li class="span4">
        <div class="round-box box-big">
          <span class="box-inner">
            <%= image_tag("assets/landscapes/landscape-3-300x300.jpg", alt: "some image", class: "img-circle") %>
            <i class="icon-cogs"></i>
          </span>
        </div>
        <h2 class="text-center">Manutenção</h2>
        <p class="lead text-center">
          Queremos acompanhar e incrementar sua aplicação. Afinal, os sistemas estão sempre em desenvolvimento.
        </p>
      </li>
    </ul>
  </div>
</section>