<!-- Our Services -->
<section class="section section-padded">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="section-header">
        <h1>
          O Que
          <small class="light">fazemos</small>
        </h1>
      </div>
      <ul class="unstyled row-fluid">
        <li class="span4">
          <div class="round-box round-medium">
            <span class="box-inner">
              <%= image_tag("assets/landscapes/landscape-2-a-300x300.jpg", alt: "some image", class: "img-circle") %>
              <i class="icon-cog"></i>
            </span>
          </div>
          <h3 class="text-center">
            Web Applications
          </h3>
          <p>
            Nam vitae ligula eu mi molestie fringilla sed ac massa. Quisque justo metus, commodo eu viverra quis, volutpat et urna.
          </p>
        </li>
        <li class="span4">
          <div class="round-box round-medium">
            <span class="box-inner">
              <%= image_tag("assets/landscapes/landscape-2-b-300x300.jpg", alt: "some image", class: "img-circle") %>
              <i class="icon-aws"></i>
            </span>
          </div>
          <h3 class="text-center">Cloud Hosting</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </li>
        <li class="span4">
          <div class="round-box round-medium">
            <span class="box-inner">
              <%= image_tag("assets/landscapes/landscape-2-c-300x300.jpg", alt: "some image", class: "img-circle") %>
              <i class="icon-bar-chart"></i>
            </span>
          </div>
          <h3 class="text-center">Social apps</h3>
          <p>
            Sed rhoncus leo eget elit tincidunt vestibulum nec ac urna. Aliquam lobortis odio in felis ultricies bibendum sunt in culpa qui.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>