<!-- Our work -->
<section class="section section-alt section-padded" id='work'>
  <div class="container-fluid">
    <div class="section-header">
      <h1>
        Nossa
        <small class="light">metodologia</small>
      </h1>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <div class="flexslider margin-bottom" data-flex-directions="hide" data-flex-speed="10000" id="work">
          <ul class="slides">
            <li>
              <%= image_tag("assets/devices/imac-2.png", alt: "some image") %>
            </li>
            <li>
              <%= image_tag("assets/devices/macbook.png", alt: "some image") %>
            </li>
            <li>
              <%= image_tag("assets/devices/ipad.png", alt: "some image") %>
            </li>
          </ul>
        </div>
      </div>
      <div class="span6">
        <ul class="icons">
          <li>
            <h4>
              <i class="icon-check"></i>
              Foco em Qualidade
            </h4>
            <p>
              Entendemos que todo desvio de qualidade implica em retrabalho e insatisfação do cliente. Por isso não abrimos mão da qualidade nos sistemas que desenvolvemos.
            </p>
          </li>
          <li>
            <h4>
              <i class="icon-dashboard"></i>
              Desenvolvimento Ágil
            </h4>
            <p>
              Utilizando as práticas de Scrum e Kanban realizamos entregas constantes para avaliação e refinamento pelo cliente. Criando um processo mais flexível.
            </p>
          </li>
          <li>
            <h4>
              <i class="icon-cog"></i>
              Manutenção
            </h4>
            <p>
              Não abandonamos o projeto quando este é concluído. Realizamos o acompanhamento a medida que o seu negócio cresce.
            </p>
          </li>
          <li>
            <h4>
              <i class="icon-comments-alt"></i>
              Comunicação constante
            </h4>
            <p>
              Grande parte dos problemas em TI se dá por falhas de comunicação e entendemos que a solução é a transparência e interação constante com o cliente.
            </p>
          </li>
          <li>
            <h4>
              <i class="icon-wrench"></i>
              Ruby on Rails
            </h4>
            <p>
              Desenvolvemos em Ruby on Rails porque precisamos de rapidez e flexibilidade, além de contar com amplo suporte da comunidade open source.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>